<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Curso</title>
</head>
<body>
<h1 style="text-align: center;">Cadastro de Cursos</h1>
<form th:action="@{/cursos/salvar}" name="curso" method="post" th:object="${curso}">
    <input type="hidden" name="idCurso" th:field="*{idCurso}" readonly>

    <label for="nomeCurso">Curso:</label>
    <input type="text" id="nomeCurso" th:field="*{nomeCurso}" required><br><br>

    <label for="periodoCurso">Periodo:</label>
    <input type="text" id="periodoCurso" th:field="*{periodoCurso}" required><br><br>

    <label for="chCurso">Carga Horaria:</label>
    <input type="text" id="chCurso" th:field="*{chCurso}" required><br><br>

    <label for="tipoCurso">Tipo:</label>
    <input type="text" id="tipoCurso" th:field="*{tipoCurso}" required><br><br>

    <button type="submit">Salvar</button>
</form>
</body>
</html>